# Ignorar cachés y bytecode de Python
# Ignora carpetas __pycache__ en cualquier parte del proyecto
__pycache__/
**/__pycache__/

# Ignora archivos de bytecode (.pyc, .pyo, .pyd)
*.py[cod]
*.pyo

# Archivos temporales/compatibilidad
*$py.class

# Entradas específicas (compatibilidad)
ProyectoTienda/__pycache__/
tiendaApp/__pycache__/
