{% extends 'base.html'%}

{%block content %}
{% for pedido in pedidos %}

<style>
    th,
    tr,
    td,
    table {
        border: 1px solid black;
    }

    td {
        padding: 10px;

    }

    ul {
        padding: 0px;
        margin: 0px;
    }
</style>

<h1>Pedido {{ pedido.id }}</h1>

<table>
    <tr>
        <th>Cliente</th>
        <th>Prendas</th>
        <th>Precio</th>
    </tr>
    <tr>
        <td>{{ pedido.cliente }}</td>
        <td>
            <ul>
                {% for prenda in pedido.prendas.all %}
                <li>
                    {{ prenda }}
                </li>
                {% endfor %}
            </ul>
        </td>
        <td>{{ pedido.precio| default:"0"}} €</td>
    </tr>
</table>
{% endfor %}

{% endblock%}