{% extends 'base.html'%}

{%block content %}



<table>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Direccion</th>
        <th>Foto</th>
    </tr>
    <tr>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.apellido }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.direccion }} </td>
        <td><img src="{{cliente.foto}}" alt="Imagen del cliente" width="50"></td>
    </tr>
</table>

<a href="{% url 'logout' %}">cerrar sesion</a>

{% endblock%}