{% extends "base.html" %}
{% block header %}
<header class="container">
  <div class="p-3">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="../../../assets/images/logo.png" alt="" style="max-width: 180px" />
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a [routerLink]="['/home']" class="nav-link px-2 text-secondary">Inicio</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorías
          </a>
           <ul class="dropdown-menu">
            {% for categoria in categorias %}
            <li>
                <a class="dropdown-item" [routerLink]="['/productos/categoria', categoria?.CategoriaId]">
                {{ categoria.categoria }}</a>
                </li>
            {% endfor %}
          </ul>
        </li>
      </ul>

      <div class="text-end">
        <button type="button" class="btn btn-outline-dark me-2" [routerLink]="['/login']" *ngIf="!estoyLogeado">
          Iniciar Sesión
        </button>
        <button type="button" class="btn btn-warning me-2" [routerLink]="['/sign-up']" *ngIf="!estoyLogeado">
          Registrarse
        </button>
        <button type="button" class="btn btn-warning me-2" [routerLink]="['/mi-perfil']" *ngIf="estoyLogeado">
          <i class="fa-solid fa-user"></i>
        </button>
        <button type="button" class="btn btn-warning" [routerLink]="['/carrito']">
          <i class="fa-solid fa-cart-shopping"></i>
        </button>
      </div>
    </div>
  </div>
</header>
{% endblock %}