<header class="container">
  <div class="p-3">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="../../../static/images/somai1.png" alt=" tienda" style="max-width: 100px" />
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">Inicio</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorías
          </a>
          <ul class="dropdown-menu">
            {% for categoria in categorias %}
            <li>
              <a class="dropdown-item" href="{% url 'detalles_categoria' categoria.id %}">
                {{ categoria.categoria }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>

      <div class="text-end">

        {% if not user.is_authenticated %}
        <a href="{% url 'login' %}" class="btn btn-outline-dark me-2">
            Iniciar Sesión
        </a>

        <a href="{% url 'signup' %}" class="btn btn-warning me-2">
            Registrarse
        </a>
        {% endif %}

        <!-- {% if user.is_authenticated %}
        <a href="{% url 'ver_pedidos' %}" class="btn btn-warning me-2">
            <i class="fa-solid fa-user"></i>
        </a>
        {% endif %} -->

        <a href="{% url 'ver_carrito' %}" class="btn btn-warning position-relative">
          <i class="fa-solid fa-cart-shopping"></i>
          {% if carrito_total_items > 0 %}
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ carrito_total_items }}
          </span>
          {% endif %}
        </a>
      </div>
    </div>
  </div>
</header>